:root {
  --ag-grid-border-color: #babfc7;
  --ag-grid-header-background-color: #f8f8f8;
}

.route-body {
  margin: 3%;
}

.table-container {
  display: flex;
  height: 400px;
}

.collapse-btn {
  max-height: 100%;
  width: 25px;
  background-color: var(--ag-grid-header-background-color);
  border: 1px solid var(--ag-grid-border-color);
  border-left: none;

}

.arrow-icon {
  position: relative;
  top: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
}

.input-selector {
  overflow: scroll;
  border: 1px solid var(--ag-grid-border-color);
  border-left: none;
  padding: 10px;
  width: 30%;
}

.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}